@model List<Product>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>

            <td>
                @item.ProductId
            </td>
            <td href="">
                <img class="img-slider" style="max-width: 100px" src="~/images/products/@item.Thumb">
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                    <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
                </div>
            </td>
            <td>
                @item.Cat!.CatName
            </td>

            <td>@item.Price VNĐ</td>
            <td>@item.UnitsInStock</td>
            <td>
                @if (item.UnitsInStock!.Value > 0)
                {
                    <div class="d-flex align-items-center">
                        <div class="btn btn-success rounded-pill">Còn Hàng</div>

                    </div>
                }
                else
                {
                    <div class="d-flex align-items-center">
                        <div class="btn btn-danger rounded-pill">Hết hàng</div>

                    </div>
                }

            <td>
                <a class="badge text-bg-info" asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a>
                <a class="badge text-bg-warning" asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId">Sửa</a>
                <a class="badge text-bg-danger" asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>

            </td>
        </tr>
    }
}

